.display-container {
    display: flex;
    height: 100vh;
    position: relative; 
}

.left-content {
    flex-grow: 1;
    padding: 20px;
    height: 100vh;
}

.logout-button {
    position: absolute;
    width: 120px;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    background-color: #EA4335; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    
}

.logout-button:hover {
    background-color: #357ABD;
}

h1 {
    margin: 10px 0;
    color: #4285F4;
    font-size: 42px;
    font-weight: 800;
}

df-messenger {
    height: 100vh;
    z-index: 999;
    position: fixed;
    right: 0;
    bottom: 0;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: 'Google Sans';
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
}

.calendar {
    margin-top: 20px;
    padding: 10px;
    background: #f3f6fc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 300px;
}


.promptcontainer {
    margin-top: 20px;
    padding: 10px;
    background: #f3f6fc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 600px;
}

.calendar-header {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.month-picker {
    cursor: pointer;
    color: #357ABD;
    font-weight: bold;
}

/* .day {
    display: inline-block;
    width: 14%; 
    text-align: center;
    padding: 10px 0;
} */

.event-dot {
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: 2px;
}

.medication-dot {
    background-color: red;
    
}

.appointment-dot {
    background-color: green;
}


.day {
    display: inline-block;
    width: 14%;
    text-align: center;
    position: relative; /* Add this if not already present */
    padding-top: 10px;
    padding-bottom: 10px;
}


.current-day {
    background-color: #4285F4;
    color: white;
    border-radius: 20%;
}


.content-row {
    display: flex;
    justify-content: space-between;
}

.calendar, .tiles-container {
    /* flex: 1; */
    margin: 10px;
}

.tiles {
    background: #f3f6fc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    width: 400px;
}

.tiles:hover {
    background-color: #e2e2e2;
}

.profimage {
    width: 200px; 
    height: auto;
    object-fit: cover;
}