
.logout-button {
    position: absolute;
    width: 120px;
    right: 20px;
    top: 0px;
    padding: 10px 20px;
    background-color: black; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.logout-button:hover {
    background-color: #357ABD;
}

h1 {
    margin: 10px;
    color: black;
    font-weight: 600;
    font-size: 50px;
}

df-messenger {
    z-index: 999;
    position: fixed;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: 'Google Sans', sans-serif;
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
    bottom: 16px;
    right: 16px;
  }
  



.calendar-header {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    background-color: white;
    height: 25px;
    width: 250px;
    border-radius: 10px;
}

.month-picker {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f0f0f0; 
    color: #333; 
    border-radius: 50%; 
    cursor: pointer; 
    margin: 0 10px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    user-select: none;
    transform: translateY(4px);
    
}
.chart0{
    width: 250px;
    border-radius: 20px;
}
.event-dot {
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: 2px;
}

.medication-dot {
    background-color: red;
    
}

.appointment-dot {
    background-color: green;
}


.day {
    display: inline-block;
    width: 14%;
    text-align: center;
    position: relative; 
    padding-top: 10px;
    padding-bottom: 10px;
}


.current-day {
    background-color: #0857D0;
    color: white;
    border-radius: 20%;
}


.content-row {
    display: flex;
    justify-content: space-between;
}

.calendar, .tiles-container {
    /* flex: 1; */
    margin: 10px;
}

.tiles {
    background: #f3f6fc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    width: 300px;
    height: 420px;
}

.tiles:hover {
    background-color: #e2e2e2;
}

.profimage {
    width: 300px; 
    height: auto;
    object-fit: cover;
}

.card2{
    flex: 0 0 250px; 
    height: 420px;
    background-color: #f3f6fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: auto;
    transform: translateY(-80px);

}

.card6{
    flex: 0 0 320px; 
    height: 550px;
    background-color: #f3f6fc;
    padding: 20px;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: auto;
    transform: translateY(-29px);

}

.card2:hover{
    background-color: #9bbdf3;
    color: white;
}

.card6:hover{
    background-color: #9bbdf3;
    color: white;
}

.card3{
    flex: 0 0 250px; 
    height: 420px;
    background-color: #f3f6fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: auto;
    transform: translateY(40px);

}

.cardpho{
    flex: 0 0 250px; 
    height: 270px;
    background-color: #f3f6fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: auto;
    transform: translateY(-70px);

}



.card3:hover{
    background-color: #9bbdf3;
}

.card4{
    flex: 0 0 940px; 
    height: 490px;
    background-color: #f3f6fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: auto;
    transform: translateY(40px);

}


.card4:hover{
    background-color: #9bbdf3;
}

.drawio{
    width: 900px;
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    /* padding: 20px; */
    flex-wrap: nowrap; 
    gap: 20px; 
    /* transform: translateY(-20px); */
}



.container2 {
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    /* padding: 20px; */
    flex-wrap: nowrap; 
    gap: 20px; 
    transform: translateY(-100px);
}

.promptile{
    background-color: #768484;
    color: white;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    display: flex;         
    justify-content: center;
    align-items: center; 
}

.rec{
    font-weight: 600;
    margin: 5px 0px;
}

.functile {
    background-color: #768484;
    color: white;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    display: flex;         
    justify-content: center;
    align-items: center;    
}

.reporttile {
    background-color: white;
    color: black;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    display: flex;         
    justify-content: center;
    align-items: center; 
    width: 50%; 
}

.plus{
    width: 30px;
    transform: translateX(18px);
}

.plus0{
    width: 30px;
    transform: translateX(30px);
}